.login-desktop-container {
  position: relative !important;
  display: flex;
  flex-direction: column;
  width: 400px;
  color: #0a0a0a
}

.login-desktop-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 16px !important;
}

.login-desktop-tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-desktop-tip-title {
  font-size: 18px;
  font-weight: 600;
}

.login-desktop-tip-content {
  height: 20px;
  margin-top: 12px;
  font-size: 14px;
  color: rgb(51 51 51 / 70%);
}

.login-desktop-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

/* stylelint-disable-next-line */
.login-desktop-input-field > label.Mui-focused {
  color: var(--main-theme-color) !important;
}

/* stylelint-disable-next-line */
.login-desktop-input-field .MuiInput-underline:after {
  border-bottom-color: var(--main-theme-color) !important;
}

.login-desktop-action-login {
  margin-top: 10px !important;
  background-color: var(--main-theme-color) !important;
}

.login-desktop-action-login-loading {
  margin-top: 10px !important;
  color: rgba(255 255 255 / 70.3%) !important;
  background-color: var(--main-theme-color) !important;
}

.login-desktop-action-login:hover {
  background-color: var(--main-theme-hover-contained-color) !important;
}

.login-forget-password {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.login-forget-password:hover {
  color: var(--main-theme-color);
}