# 忽略生成的文件
node_modules/
dist/

# 忽略本地开发工具生成的文件
.vscode/
.idea/
.gitignore

# 忽略编译器生成的文件
*.js.map
*.d.ts

# 忽略必要配置文件
package.json
pnpm-lock.yaml
README.md
.eslintrc.cjs
vite.config.ts

# 忽略配置文件
.eslintrc.js
.prettierrc.js

# 忽略测试文件
*.test.ts

# 忽略 CSS 文件
*.css

# 忽略 PWA
dev-dist/