.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
}

.home-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  height: 100%;
  padding: 10px;
  overflow: auto;
  color: var(--main-font-color);
  user-select: none;
  background-color: var(--main-background-color);
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.home-nav::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-background-color);
}

/* 媒体查询屏幕小于 900px */
@media screen and (width < 900px) {
  .home-container {
    flex-direction: column;
  }

  .home-nav {
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    order: 2;
    width: 100%;
    height: 58px;
    padding: 8px;
  }
}